﻿
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Click on categories to add products from.</p>

@foreach (var group in @ViewBag.Categories)
{
    <section>

        <p>@group.category1 : @Html.ActionLink("Add Products", "Products", new { categoryId = @group.Id_category })</p>


    </section>
}


@foreach (var group in @ViewBag.Products)
{
    <section>

        <p>@group.model - @Html.ActionLink("Add Products to store", "PushProducts", new { productId = @group.Id_product }) </p>


    </section>
}


